<%- include('./partials/head.ejs') %>
<section class="single-plant-container plant-container">
    <div class="single-plant-text-container">
        <h2 class="single-plant-h2"><%= stekje.naam %></h2>
        <div class="single-plant-spans">

            <span>
                <div class="single-plant-span-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="32"
                        height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#333467" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="11" r="3" />
                        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                    </svg>
                    <p>Land van herkomst</p>
                </div>
                <p class="plant-data"><%= stekje.landvanherkomst %></p>
            </span>

            <span>
                <div class="single-plant-span-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle"
                        width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#333467" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 9v2m0 4v.01" />
                        <path
                            d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                    </svg>
                    <p>Giftig</p>
                </div>
                <p class="plant-data"><%= stekje.giftig %></p>
            </span>

            <span>
                <div class="single-plant-span-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-droplet" width="32"
                        height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#333467" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6.8 11a6 6 0 1 0 10.396 0l-5.197 -8l-5.2 8z" />
                    </svg>
                    <p>Voeding</p>
                </div>
                <p class="plant-data"><%= stekje.voeding %></p>
            </span>

            <span>
                <div class="single-plant-span-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-leaf" width="32"
                        height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#333467" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                        <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
                    </svg>
                    <p>Verpotten</p>
                </div>
                <p class="plant-data"><%= stekje.verpotten %></p>
            </span>
        </div>

        <p class="desktop-plant-beschrijving">De Aglaonema 'Pink Princess' is een hybride kamerplant met opvallende roze vlekken en tinten op zijn grote,
            glanzende diepgroene bladeren. De plant gedijt goed in omgevingen met weinig licht en heeft minimale verzorging
            nodig. Hij groeit langzaam en vereist weinig snoei, waardoor het een onderhoudsarme kamerplant is. De plant kan
            tot 50 cm hoog worden en is ideaal voor het toevoegen van kleur aan elke ruimte.
        </p>
    </div>
    <img class="single-plant-container-img" src="<%=stekje.fotos[0].original %>" alt="<%= stekje.naam %>">
</section>

<section class="single-plant-container plant-container korte-beschrijving-container">
    <h2 class="single-plant-h2 beschrijving-h2">Korte beschrijving</h2>
    <p>De Aglaonema 'Pink Princess' is een hybride kamerplant met opvallende roze vlekken en tinten op zijn grote,
        glanzende diepgroene bladeren. De plant gedijt goed in omgevingen met weinig licht en heeft minimale verzorging
        nodig. Hij groeit langzaam en vereist weinig snoei, waardoor het een onderhoudsarme kamerplant is. De plant kan
        tot 50 cm hoog worden en is ideaal voor het toevoegen van kleur aan elke ruimte.
    </p>
</section>
<%- include('./partials/foot.ejs') %>